<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: #007bff;
      background: linear-gradient(to right, #0062E6, #33AEFF);
    }
    p {

    }
  </style>
</head>
<body>
<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 fw-light">게시글</div>
          </div>

          <form th:object="${article}" method="post" th:action>

            <!-- Name Input -->
            <div class="form-floating mb-3">
              <input class="form-control" id="title"
                     th:field="*{title}" type="text" disabled/>
              <label for="title">제목</label>
            </div>

            <div class="form-floating mb-3">
              <input class="form-control" id="id"
                     th:field="*{id}" type="text" disabled/>
              <label for="id">글 번호</label>
            </div>

            <div class="form-floating mb-3">
              <input class="form-control" id="writerName"
                     th:field="*{writerName}" type="text" disabled/>
              <label for="writerName">작성자</label>
            </div>

            <div class="form-floating mb-3">
              <input class="form-control" id="dateTime"
                     th:field="*{dateTime}" type="text" disabled/>
              <label for="dateTime">작성일</label>
            </div>

            <!-- Message Input -->
            <div class="form-floating mb-3">
              <textarea class="form-control" id="content" type="text"
                        th:field="*{content}" style="height: 10rem;" disabled></textarea>
              <label for="content">본문</label>
            </div>

            <div class="d-grid" th:if="${#session.getAttribute('loginUser').getId()}==*{writerId}">
              <button class="btn btn-primary btn-lg" type="button">수정하기</button>
            </div>
          </form>
          <!-- End of contact form -->

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
