<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Page</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Page Content -->
<div class="container">

  <button type="button" class="btn-lg" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
  <button type="button" class="btn-lg" th:onclick="|location.href='@{/board/new-article}'|">글쓰기</button>


  <!-- Page Heading -->
  <h1 class="my-4">게시판
    <small>회원용</small>
  </h1>

  <!-- Project One -->
  <th:block th:each="article, articleStat : ${articleList}">
    <div class="row">
      <div class="col-md-5">
        <h3 th:utext="${article.title}">게시글 제목</h3>
        <p th:utext="${article.content}">게시글 본문</p>
        <a class="btn btn-primary" href="#">게시글 보기</a>
      </div>
    </div>
    <!-- /.row -->
    <hr>
  </th:block>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <th:block th:each="num : ${totalPageNumArr}">
      <li class="page-item">
        <a class="page-link" th:href="|/board/${num}|" th:text="${num}">1</a>
      </li>
    </th:block>
  </ul>

</div>
<!-- /.container -->
</body>
</html>